<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.safeinventory.mapper.InventoryMapper">

    <!-- 插入 inventory 表 -->
    <insert id="insertInventory" parameterType="com.example.safeinventory.model.InventoryModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO inventory (product_id, total_stock)
        VALUES (#{productId}, #{totalStock});
    </insert>

    <!-- 查询根据 productId 获取库存 -->
    <select id="selectByProductId" resultType="com.example.safeinventory.model.InventoryModel" parameterType="map">
        SELECT id,
               product_id,
               total_stock,
               version,
               create_time,
               update_time
        FROM inventory
        WHERE product_id = #{productId}
    </select>

    <!-- 查询并加锁根据 productId 获取库存 -->
    <select id="selectByProductIdForUpdate" resultType="com.example.safeinventory.model.InventoryModel">
        SELECT id,
               product_id,
               total_stock,
               version,
               create_time,
               update_time
        FROM inventory
        WHERE product_id = #{productId} FOR UPDATE
    </select>

</mapper>
